{
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": false,
  "printWidth": 80,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "tabWidth": 2
}
