@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: "Pretendard";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  .headline-1 {
    @apply text-[2rem] font-bold leading-[1.2];
  }
  .headline-2 {
    @apply text-[1.75rem] font-bold leading-[1.2];
  }
  .headline-3 {
    @apply text-[1.5rem] font-bold leading-[1.2];
  }

  .title-1 {
    @apply text-[1.375rem] font-semibold leading-[1.2];
  }
  .title-2 {
    @apply text-[1rem] font-semibold leading-[1.2];
  }
  .title-3 {
    @apply text-[0.875rem] font-semibold leading-[1.2];
  }

  .btn-1 {
    @apply text-[1.375rem] font-semibold leading-[1.2] tracking-[0.01375rem];
  }
  .btn-2 {
    @apply text-[1rem] font-semibold leading-[1.2] tracking-[0.01rem];
  }
  .btn-3 {
    @apply text-[0.875rem] font-semibold leading-[1.2] tracking-[0.0175rem];
  }

  .body-1 {
    @apply text-[1rem] font-normal leading-[1.6] tracking-[-0.01rem];
  }
  .body-2 {
    @apply text-[0.875rem] font-normal leading-[1.6] tracking-[-0.0088rem];
  }
  .body-3 {
    @apply text-[0.75rem] font-normal leading-[1.6] tracking-[-0.015rem];
  }
}

/* input[type=date]의 기존 indicator를 제거하기 위한 스타일
  TODO 가은님에게 input[type=date] 어떤 식으로 스타일 사용 하실지 물어보고 수정하기
*/

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(./shared/assets/calender.svg) no-repeat center;
  background-size: contain;
  width: 1.5rem;
  height: 1.5rem;
}

/* WebKit 기반 브라우저 (Chrome, Safari) */
textarea::-webkit-scrollbar {
  display: none;
}

/* Firefox */
textarea {
  scrollbar-width: none; /* Firefox */
}

/* Edge, Internet Explorer */
textarea {
  -ms-overflow-style: none; /* IE and Edge */
}

/* input , textarea 태그들의 background inherit */

input,
textarea {
  background-color: inherit;
}

/* 버튼의 텍스트 색상과 아이콘 색상을 맞추기 위한 스타일 */
.icon-in-button svg {
  fill: currentColor;
}

/* WebKit 기반 브라우저 (Chrome, Safari) */
main,
section::-webkit-scrollbar {
  display: none;
}

/* Firefox */
main,
section {
  scrollbar-width: none; /* Firefox */
}

/* Edge, Internet Explorer */
main section {
  -ms-overflow-style: none; /* IE and Edge */
}

/* modal css */
.react-modal-sheet-container {
  margin: 0 auto;
  right: 0;
  max-width: 37.5rem;
  border-top-left-radius: 1.75rem !important;
  border-top-right-radius: 1.75rem !important;
  background: #fff;
  box-shadow:
    0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px 0px rgba(0, 0, 0, 0.3) !important;
}

.react-modal-sheet-header {
  padding: 1rem;
  height: 2.25rem !important;
}

.react-modal-sheet-drag-indicator {
  width: 1rem;
  height: 0.25rem;
  border-radius: 6.25rem;
  background: #9e9e9e;
}

.react-modal-sheet-content {
  padding: 1rem;
}

/* Google 기본 로고 숨기기 */
img[alt="Google"] {
  display: none !important;
}
/* Google 기본 저작권 숨기기 */
.gm-style-cc,
.gmnoprint,
.gm-style-cc a {
  display: none !important;
}

.pin {
  clip-path: path(
    "M32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 18.25 0.5 21.75 3.84215 27.375L12.2859 42C13.8255 44.6667 17.6745 44.6667 19.2141 42C19.2141 42 24.5494 32.5 27.6579 27.375C30.7663 22.25 32 19.8 32 16Z"
  );
}

/* 드래그 방지 */
.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* text 줄임표시 */
.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
