@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: "Pretendard";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  .headline-1 {
    @apply text-[2rem] font-bold leading-[1.2];
  }
  .headline-2 {
    @apply text-[1.75rem] font-bold leading-[1.2];
  }
  .headline-3 {
    @apply text-[1.5rem] font-bold leading-[1.2];
  }

  .title-1 {
    @apply text-[1.375rem] font-semibold leading-[1.2];
  }
  .title-2 {
    @apply text-[1rem] font-semibold leading-[1.2];
  }
  .title-3 {
    @apply text-[0.875rem] font-semibold leading-[1.2];
  }

  .btn-1 {
    @apply text-[1rem] font-semibold leading-[1.2] tracking-[.0138rem];
  }
  .btn-2 {
    @apply text-[0.875rem] font-semibold leading-[1.2] tracking-[.01rem];
  }
  .btn-3 {
    @apply text-[0.75rem] font-semibold leading-[1.2] tracking-[.0175rem];
  }

  .body-1 {
    @apply text-[1rem] font-normal leading-[1.6] tracking-[-0.01rem];
  }
  .body-2 {
    @apply text-[0.875rem] font-normal leading-[1.6] tracking-[-0.0088rem];
  }
  .body-3 {
    @apply text-[0.75rem] font-normal leading-[1.6] tracking-[-0.015rem];
  }
}

/* input[type=date]의 기존 indicator를 제거하기 위한 스타일
  TODO 가은님에게 input[type=date] 어떤 식으로 스타일 사용 하실지 물어보고 수정하기
*/

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(./shared/assets/calender.svg) no-repeat center;
  background-size: contain;
  width: 1.5rem;
  height: 1.5rem;
}

/* WebKit 기반 브라우저 (Chrome, Safari) */
textarea::-webkit-scrollbar {
  display: none;
}

/* Firefox */
textarea {
  scrollbar-width: none; /* Firefox */
}

/* Edge, Internet Explorer */
textarea {
  -ms-overflow-style: none; /* IE and Edge */
}

/* input , textarea 태그들의 background inherit */

input,
textarea {
  background-color: inherit;
}

/* 버튼의 텍스트 색상과 아이콘 색상을 맞추기 위한 스타일 */
.icon-in-button svg {
  fill: currentColor;
}
