@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: "Pretendard";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  .headline-1 {
    @apply text-[2rem] font-bold leading-[1.2];
  }
  .headline-2 {
    @apply text-[1.75rem] font-bold leading-[1.2];
  }
  .headline-3 {
    @apply text-[1.5rem] font-bold leading-[1.2];
  }

  .title-1 {
    @apply text-[1.375rem] font-medium leading-[1.2];
  }
  .title-2 {
    @apply text-[1rem] font-medium leading-[1.2];
  }
  .title-3 {
    @apply text-[0.875rem] font-medium leading-[1.2];
  }

  .btn-1 {
    @apply text-[1rem] font-medium leading-[1.2];
  }
  .btn-2 {
    @apply text-[0.875rem] font-medium leading-[1.2];
  }
  .btn-3 {
    @apply text-[0.75rem] font-medium leading-[1.2];
  }

  .body-1 {
    @apply text-[1rem] font-normal leading-[1.6];
  }
  .body-2 {
    @apply text-[0.875rem] font-normal leading-[1.6];
  }
  .body-3 {
    @apply text-[0.75rem] font-normal leading-[1.6];
  }
}
